@charset 'utf-8';

@import 'globals-default';
@import 'globals-wayne-state';
@import 'settings';

// Sea Foam Settings

$topbar-background: transparent;
$topbar-input-width: 23rem;

$header-font-family: "Playfair Display", serif;

$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);

$button-color: $black;

@import 'foundation-core';
@import 'omeka';


body {
  font-weight: 500;
}

header {
  border-bottom: 2px solid map-get($foundation-palette, gray-001);
}

header a {
  color: map-get($wayne-palette, brown-001);
}

.menu .active > a {
  border-bottom: 0.2em solid map-get($foundation-palette, primary);
  background: transparent;
  margin-bottom: -0.1em;
}

header .button {
  border: 1px solid #000;
  margin-left: -1px;
}

header .input-group-field {
  border: 1px solid #000;
  box-shadow: none;
  border-color: map-get($wayne-palette, gray-001);
}


header .top-bar {
  padding-bottom: 1px;
}

.top-bar {
  form {
    margin-bottom: 0;
    display: flex;
    flex-direction: row-reverse;
  }

  .top-bar-right {
    .search {
      width: 100%;
      margin-left: $global-margin;
    }

    flex: 0 1 auto;
    margin-left: auto;
    flex-direction: column-reverse;
    align-items: end;
  }

  .input-group-field {
    margin-right: 0;
    border-radius: 40px;
  }

  .input-group-button {
    visibility: hidden;
  }
}

a,
.breadcrumbs a {
  color: $black;
}

body.vertical-menu header a {
  color: #000;
  text-decoration: underline;
}

label,
.label {
  color: $black;
}

footer {
  .align-center {
    text-align: center;
  }

  .acknowledgement-container {
    background: map-get($foundation-palette, primary);

    .grid-x {
      min-height: 14rem;
      padding: 4rem 0;
      align-items: center;
      justify-content: center;

      .funding-acknowledgement {
        color: map-get($wayne-palette, gray-001);
        font-size: 1.3rem;
        font-weight: 350;
      }

      .brand {
        color: map-get($wayne-palette, green-001);
        font-size: 0.7em;
        font-weight: 900;
        text-transform: capitalize;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2em 1em;

        i {
          margin-right: 0.4em;
        }
      }
    }
  }

  .footer-container {
    background: map-get($wayne-palette, gray-002);
    color: map-get($wayne-palette, gray-001);

    .cells {
      padding: 1em 0;

      a, div {
        padding-bottom: 0.5em;
      }

    }

    .logo {
      width: fit-content;
    }

    .outline {
      font-size: 0.6em;

      .outline-title {
        display: block;
        text-transform: uppercase;
        padding-bottom: 0.3em;
      }

      .outline-item {
        display: block;
        font-weight: bold;
        padding-bottom: 0.2em;
        color: map-get($wayne-palette, gray-001);
      }
    }

    .copyright {
      font-size: 0.4em;
      margin-top: 1em;
    }
  }
}



@media (min-width: 300px) {
  .footer-container .grid-x {
    justify-content: center;
  }
}

@media (min-width: 640px) {
  .footer-container .grid-x {
    justify-content: unset;
  }
}